@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

body {
font-weight:400;		
font-family: 'Lato', sans-serif;
font-size: 15px;
line-height: 1.428571429;
color: #333333;
background-color: #323641;
}

a{text-decoration:none;}
a:focus{outline:thin dotted;text-decoration:none;}
a:active,a:hover{outline:0}

.side-menu {
border: 1px solid #14161C;
background-color: #3b3f4d;
border-radius: 4px;
padding: 0px 0px;
width: 30%;
margin: 5em auto;
list-style: none;
-webkit-box-shadow: inset 0px 2px 3px 0px rgba(0,0,0,0.4),0px 1px 2px 0px rgba(255,255,255,0.2);
box-shadow: inset 0px 2px 3px 0px rgba(0,0,0,0.4),0px 1px 2px 0px rgba(255,255,255,0.2);
}

.side-menu>li:last-child a {
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
border-bottom: none;
}

.side-menu>li:first-child a {
border-top-left-radius: 4px;
border-top-right-radius: 4px;
-webkit-box-shadow: none;
box-shadow: none;
}

.side-menu>li a {
display: block;
border-radius: 0px;
border-bottom: 1px solid #292D38;
-webkit-box-shadow: inset 0px 1px 0px 0px #434756;
box-shadow: inset 0px 1px 0px 0px #434756;
color: #fff;
font-size: 16px;
font-weight: 300;
text-transform: uppercase;
padding: 15px 18px;
}

.side-menu>li a:hover {
display: block;
padding: 15px 18px;
margin: 0;
list-style: none;
-webkit-box-shadow: inset 0px 2px 3px 0px rgba(0,0,0,0.4),0px 1px 2px 0px rgba(255,255,255,0.2);
box-shadow: inset 0px 2px 3px 0px rgba(0,0,0,0.4),0px 1px 2px 0px rgba(255,255,255,0.2);
background-color: #8F4949;
}

.side-menu.side-menu-notifications .badge {
background-color: #B5A370;
color: #4F4836;
font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight: 700;
-webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5),inset 0px 1px 2px 0px rgba(255,255,255,0.2);
box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5),inset 0px 1px 2px 0px rgba(255,255,255,0.2);
padding: 5px 10px;
}

.side-menu>li a .badge{
background-color: #2e323f;
color: #81889a;
font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight: 700;
-webkit-box-shadow: inset 1px 1px 2px 0px rgba(0,0,0,0.5),0px 1px 2px 0px rgba(255,255,255,0.15);
box-shadow: inset 1px 1px 2px 0px rgba(0,0,0,0.5),0px 1px 2px 0px rgba(255,255,255,0.15);
padding: 5px 10px;
margin-top: 2px;
}

.alert-animated {
background-color: #B5A370;
animation: animated-alert 1s;
-moz-animation: animated-alert 1s;
-webkit-animation: animated-alert 1s;
-webkit-animation-iteration-count: infinite;
-moz-animation-iteration-count: infinite;
}

.pull-right {
float: right !important;
}

.badge {
display: inline-block;
min-width: 10px;
padding: 3px 7px;
font-size: 12px;
font-weight: bold;
color: #ffffff;
line-height: 1;
vertical-align: baseline;
white-space: nowrap;
text-align: center;
background-color: #999999;
border-radius: 10px;
}

.side-menu>li a i {
margin-right: 15px;
padding-right: 15px;
font-size: 25px;
width: 45px;
color: #fff;
display: inline-block;
text-align: center;
border-right: 1px solid #292D38;
-webkit-box-shadow: 1px 0px 0px 0px #434756;
box-shadow: 1px 0px 0px 0px #434756;
}